<div class="grid-auto">
  <div class="sidebar-container">
    {{- partial "sidebar" . }}
  </div>
  <section class="content">
    <h1>{{ .Title }}</h1>
    {{- .Content }}
    <div class="pager">
      <div class="pager-direction">
      {{- with .Next }}
      <a href="{{ .Permalink }}" id="prev"><< {{ .Title }}</a>
      {{ end }}
    </div>
    <div class="pager-direction">
      {{- with .Prev }}
      <a href="{{ .Permalink }}" id="next">{{ .Title }} >></a>
      {{- end }}
    </div>
    </div>
  </section>
</div>
